:root {
  --main-background: #65c3c8;
}

.c-text {
	position: relative;
	outline: transparent solid 3px;
	outline-offset: 3px;
	cursor: pointer;
	transition: outline .1s ease;
}
.c-text_selected {
	outline: var(--main-background) solid 3px;
}
.c-text:hover {
	outline: var(--main-background) solid 3px;
}

.c-image {
	position: relative;
	outline: transparent solid 3px;
	outline-offset: 3px;
	cursor: pointer;
	transition: outline .1s ease;
}
.c-image_selected {
	outline: var(--main-background) solid 3px;
}
.c-image:hover {
	outline: var(--main-background) solid 3px;
}
